/autom4te.cache/
/configure
/aclocal.m4
/Makefile.in
/compile
/config.h.in
/depcomp
/doc/Makefile.in
/examples/Makefile.in
/install-sh
/man/Makefile.in
/missing
/src/Makefile.in
/Makefile
/config.h
/config.log
/config.status
/doc/Makefile
/examples/Makefile
/man/Makefile
/src/.deps
/src/Makefile
/src/palx
/stamp-h1
*.swp
/src/*.la
/src/*.lo
/src/*.o
/config.guess
/config.h.in~
/config.sub
/libtool
/ltmain.sh
/src/.libs/
/libpalindrome-1.3.4.tar.gz
/libpalindrome-1.3.4/
/m4/
/src/libpalindrome.pc
*~
